body {
    font-family: "Titillium Web", sans-serif !important;
}

main {
    padding-top: 80px;
}

section {
    padding: 20px 0;
}

section h2 {
    padding-bottom: 10px;
}

ul {

    padding: 0 !important;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none !important;
}



.body__container {
    max-width: 1320px;
    margin: 0 auto;
}

@media (max-width: 768px) { 
    .container__hospital {
        flex-direction: column;
        align-items: center;
    }
    .section__img {
        margin-top: 20px;
    }
    .col {
        flex: auto !important;
    }
    .body__container {
        padding: 16px;
    }
    .sections__container {
       flex-direction: column;
    }
    .sections__container .section {
        margin: 0 auto;
     }
     .sections__container .section .map {
        width: 100%;
        height: auto;
     }
}
